@media (max-width: 1024px) {
  body {
    max-width: 1024px;
    margin: 50px 0;
  }

  .cabecalho {
    padding: var(--mobile-padding);
  }

  .home {
    gap: 0;
    margin: 50px 0;
  }

  .home .informacoes {
    max-width: 100%;
    text-align: center;
    padding: 0 var(--mobile-padding);
    align-items: center;
  }

  .home .container-foto-mobile .img-mobile {
    display: block;
  }

  .home .img-desktop {
    display: none;
  }

  .home .redes-sociais {
    justify-content: center;
  }

  .curriculo {
    /* centralizar conteúdo */
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 var(--mobile-padding);
  }

  .projetos .container-projetos,
  .blog .container-blog {
    padding: 0 var(--mobile-padding);
  }
}

@media (max-width: 900px) {
  .cabecalho .menu #menu-collapse {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--cor-fundo-roxo-claro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .cabecalho .menu ul {
    display: none;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    background-color: var(--cor-fundo-roxo-claro);
    position: fixed;
    top: 100;
    right: 0;
    width: 20%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
    z-index: 999; /* Mantém a sidebar acima de outros elementos */ /* Esconde a lista por padrão em telas maiores */
  }

  .cabecalho .menu .menu-list li {
    border-bottom: 1px solid var(--cor-branca);
    margin: 0 10px;
    padding: 5px;
    border-radius: 0%;
  }

  .cabecalho .menu .menu-list.active {
    transform: translateX(0);
  }

  .curriculo {
    /* centralizar conteúdo */
    max-width: 100vw;
    margin: 0 auto;
    padding: 0 var(--mobile-padding);
  }

  .curriculo .resume {
    width: 80%;
  }

  .projetos .container-projetos,
  .blog .container-blog {
    padding: 0 var(--mobile-padding);
  }
}

@media (max-width: 768px) {
  /*  .cabecalho .menu #menu-collapse {
    display: block;
    width: 50px;
    height: 50px;
    background: var(--cor-fundo-roxo-claro);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
  }

  .cabecalho .menu ul {
    display: none;
  } */
}

@media (max-width: 425px) {
  .cabecalho .logo {
    max-width: 100%;
    text-align: center;
  }

  .home {
    max-width: 425px;
    margin: 50px 0;
  }

  .home .informacoes {
    gap: 30px;
  }

  .home .informacoes h1 {
    font-size: var(--fonte-grande);
  }

  .home .informacoes p {
    font-size: var(--fonte-normal);
  }

  .home .redes-sociais a i {
    width: 4rem;
    height: 4rem;
    font-size: 2rem;
    padding: 0.9rem;
  }
}
